  .cityForm{
    /* margin: 25px; */
    /* box-sizing: border-box; */
    /* width: 392px; */
    height: 48px;
    margin-bottom: 40px;
  }
  
  /* Style the search field */
  .cityForm input[type=text] {
    width: 300px;
    height: 48px;
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    background: rgb(255, 255, 255, 0.9);
    box-sizing: border-box;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  /* Style the submit button */
  .cityForm button {
    float: left;
    width: 48px;
    height: 48px;
    padding: 10px;
    background: black;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    box-sizing: border-box;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .cityForm button:hover {
    background:gray;
  }
  
  /* Clear floats
  .cityForm::after {
    content: "";
    clear: both;
    display: table;
  } */